<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSubmenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Assignment 4 Pets and Owners</span>
  <span class="spacer"></span>

<!--  <button mat-button [matMenuTriggerFor]="mainMenu">-->
<!--    Main Menu-->
<!--  </button>-->

</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item routerLink="">Main Menu</button>
  <button mat-menu-item routerLink="petsList">Pets List</button>
  <button mat-menu-item routerLink="ownersList">Owner List</button>
</mat-menu>

<ng-container *ngIf="showSubmenu">

  <mat-toolbar class="submenu">
    <button mat-button routerLink="index"> Main Menu Index </button>
  </mat-toolbar>
  <mat-toolbar class="submenu">
    <button mat-button routerLink="petsList"> Pets List </button>
  </mat-toolbar>
  <mat-toolbar class="submenu">
    <button mat-button routerLink="ownersList"> Owner List </button>
  </mat-toolbar>

</ng-container>
