<h2>Details Page - Owner </h2>

<body>
  <ng-container *ngIf=" owner !== undefined ; else not_found" >
    <div class="table-custom-card">
      <div class="ownerInfo">
        <h2 class="ownerLabel">Owner: {{owner.firstName+" "+owner.lastName}} </h2>
        <div class="ownerLabel"> Pet Count : {{owner.petCount}} </div>
      </div>

      <table>
        <tr *ngFor="let p of (petsList | async)">
          <td>
            <a [routerLink]="['/petsList/pet/', p.id]">
              <img class="PetImage"
                   [src]="p.imageSrc">
            </a>
          </td>

          <td>
            <span class="ownerLabel">Name : {{p.name}}</span> <br>
            <span class="ownerLabel">Age : {{p.age}} </span> <br>
            <span class="ownerLabel">Pet Kind : {{p.petKind}}</span> <br>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>

  <ng-template #not_found>
    <p class="message">
      The data is not found :(
    </p>
  </ng-template>

</body>

<p>
  <a routerLink="/">Back to Main Page</a>
</p>
