<h1>Main Index - Owners </h1>

<table>
  <body>
    <tr *ngFor="let o of (ownersList | async)">
      <div class="owner-custom-card">

      <td class = "ownerTable">
        <span class="ownerLabel">First Name : {{o.firstName}}</span> <br>
        <span class="ownerLabel">Last Name : {{o.lastName}}</span> <br>
        <span class="ownerLabel">Pet Count : {{o.petCount}}</span> <br>


        <a [routerLink]="['owner', o.id]">
          <span class="ownerLabel"> View Details </span> <br>
        </a>

      </td>
      </div>

    </tr>
  </body>
</table>
