<h1>Main Index - Pets </h1>

<table>
    <body>
        <tr *ngFor="let p of (petsList | async)">
          <div class="pet-custom-card">
            <td>
              <a [routerLink]="['pet', p.id]">
              <img class="PetImage"
                     [src]="p.imageSrc">
              </a>
            </td>

            <td >
              <div class="petInfo">
                <span class="petLabel">Name : {{p.name}}</span> <br>
                <span class="petLabel">Age : {{p.age}} </span> <br>
                <span class="petLabel">Pet Kind : {{p.petKind}}</span> <br>
              </div>
            </td>
          </div>

        </tr>
    </body>
  </table>

